# Review Question 1

In [1]:
def cube(num):
    return num ** 3

print(cube(10))
print(cube(11))
print(cube(12))

1000
1331
1728

In [6]:
def greet(name):
    print(f"Hello {name}!")

name = input("Enter your name: ")
greet(name)

Enter your name:  dave

Hello dave!

# Review Question 2 (Challenge)

In [43]:
def convert_cel_to_far(cel):
    return (cel * 9/5) + 32

cel  = float(input("Enter a temperature in degrees C: "))
far = convert_cel_to_far(cel)

print(f"{cel:.0f} degrees C = {far:.2f} degrees F")

Enter a temperature in degrees C:  37

37 degrees C = 98.60 degrees F

In [44]:
def convert_far_to_cel(far):
    return (far - 32) * 5/9

far = float(input("Enter a temperature in degrees F: "))
cel = convert_far_to_cel(far)

print(f"{far:.0f} degrees F = {cel:.2f} degrees C")

Enter a temperature in degrees F:  72

72 degrees F = 22.22 degrees C

# Review Question 3

In [48]:
for n in range(2, 11):
    print(n)

2
3
4
5
6
7
8
9
10

In [51]:
num = 2
while num <= 10:
    print(num)
    num += 1

2
3
4
5
6
7
8
9
10

In [55]:
def doubles(num):
    return num * 2

num = 2
for n in range(3):
    num = doubles(num)
    print(num)

4
8
16